/* Null Style */
* {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  width: 100%;
}

.block {
  width: 438px;
  min-height: 333px;
  margin: 20px auto;
  padding: 42px;
  background-color: grey;
  border-radius: 10px;
}

h1.heading {
  font-size: 24px;
  text-align: center;
  padding: 0px 0 0 0;
  margin-bottom: 14px;
  color: #fff;
}

.app__area {
  background-color: #fff;
  min-width: 350px;
  min-height: 200px;
  border-radius: 10px;
  margin: 10px auto auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.img__arr {
  width: 280px;

  justify-content: center;
  margin: 12px;
}

.ron {
  justify-content: center;
  margin: 12px;
}

.time__area {
  margin: -16px 0px 0px 0px;
  padding: 10px 70px;
  background-color: #eeecec;
  border: 2px solid #46a2e3;
  border-radius: 5px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.btn__area {
  width: 255px;
  height: 65px;
  margin-top: 15px;
  padding: 23px;
  display: flex;
  justify-content: space-between;
}

.btn {
  justify-content: space-between;
  border: 0;
  width: 67px;
  height: 30px;
  border-radius: 5px;
  color: #fff;
}

.btn-b {
  background-color: #8181f3;
}
.btn-b:active {
  transition: all 0.2s;
  background-color: #dccfeb;
}

.btn-g {
  background-color: green;
}
.btn-g:active {
  transition: all 0.2s;
  background-color: #afe9c3;
}

.btn-r {
  background-color: #cb5555;
}
.btn-r:active {
  transition: all 0.2s;
  background-color: #e9a9af;
}

.ron-btn {
  background-color: rgb(128, 83, 0);
  padding: 0 20px;
  width: 126px;
  margin-bottom: 41px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 10px;
}
.ron-btn:active {
  transition: all 0.2s;
  background-color: #a39a9a;
}
